PORT=
# Cấu hình Database 
MONGODB_URI=
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false
#CONFIG JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRED=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_TOKEN_EXPIRED=8h
#CONFIG MAIL
MAIL_USER=
MAIL_PASSWORD=
